*.sdf
*.opensdf
*.suo
*.lib
*.exe
*.pdb
Debug
Release
*.vcxproj.user
ipch
*.gcda
*.o
*.a
.deps
*.in
Makefile
*.log
*.la
*.lo
*~
aclocal.m4
autom4te.cache
config.guess
config.h
config.status
config.sub
configure
config/ylwrap
depcomp
icinga-version.h
install-sh
libtool
libtool.old
ltdl
ltmain.sh
missing
stamp-h1
.libs
icinga-app/icinga
docs/dev
m4/ylwrap
m4/test-driver
icinga2-*.tar.gz
icinga2.spec
packages
.vagrant