## Editors
.idea/
*.komodoproject
.*.sw[op]
*~

## C++ and Tools
*.patch
*.playground
.vagrant

## Build artifacts
build/
build-debug/
build-release/
build32/
build64/
debug/
release/
cmake-build-debug
/Testing/
/install/
/vendor/
