*.sdf
*.opensdf
*.suo
*.lib
*.exe
*.pdb
Debug
Release
*.vcxproj.user
ipch
*.gcda
*.o
*.a
.deps
*.in
Makefile
*.log
*.la
*.lo
*~
aclocal.m4
autom4te.cache
config.guess
config.h
config.status
config.sub
configure
depcomp
icinga-version.h
install-sh
libtool
ltdl
ltmain.sh
missing
stamp-h1
.libs
icinga-app/icinga
