#!/bin/sh 
set -e

. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
    . /usr/share/dbconfig-common/dpkg/config.pgsql
    dbc_authmethod_user="password"
    dbc_go icinga2-ido-pgsql $@
fi

# check if the feature is enabled
if test -L /etc/icinga2/features-enabled/ido-pgsql.conf; then
    db_set icinga2-ido-pgsql/enable "true"
else 
    db_set icinga2-ido-pgsql/enable "false"
fi
db_input high icinga2-ido-pgsql/enable || true
db_go || true
