#!/bin/sh 
set -e

. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
    . /usr/share/dbconfig-common/dpkg/config.mysql
    dbc_go icinga2-ido-mysql $@
fi

# check if the feature is enabled
if test -L /etc/icinga2/features-enabled/ido-mysql.conf; then
    db_set icinga2-ido-mysql/enable "true"
else 
    db_set icinga2-ido-mysql/enable "false"
fi
db_input high icinga2-ido-mysql/enable || true
db_go || true
