#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@

config.status:
	dh_testdir
	./autogen.sh
	cp -f /usr/share/misc/config.sub config.sub
	cp -f /usr/share/misc/config.guess config.guess
	dh_auto_configure
