#!/usr/bin/make -f

#export DH_VERBOSE=1

define SAVEFILE
	test -f $1.dh-orig || cp $1 $1.dh-orig
endef
define RESTOREFILE
	test -f $1.dh-orig && mv $1.dh-orig $1; :
endef

%:
	dh $@  --with autotools-dev --with autoreconf

override_dh_autoreconf:
	$(call SAVEFILE,Makefile.in)
	$(call SAVEFILE,icinga2.spec)
	$(call SAVEFILE,third-party/ltdl/Makefile.in)
	$(call SAVEFILE,third-party/ltdl/aclocal.m4)
	$(call SAVEFILE,third-party/ltdl/configure)
	dh_autoreconf autoreconf -- -f -i third-party/ltdl/

override_dh_autoreconf_clean:
	dh_autoreconf_clean
	$(call RESTOREFILE,Makefile.in)
	$(call RESTOREFILE,icinga2.spec)
	$(call RESTOREFILE,third-party/ltdl/Makefile.in)
	$(call RESTOREFILE,third-party/ltdl/aclocal.m4)
	$(call RESTOREFILE,third-party/ltdl/configure)

override_dh_auto_clean:
	dh_auto_clean
	rm -f config.log
	rm -f config.status

override_dh_auto_configure:
	dh_auto_configure -- --enable-python \
        --with-icinga-user=root \
        --with-icinga-group=bin \
        --with-icingacmd-user=root \
        --with-icingacmd-group=bin

override_dh_auto_install:
	dh_auto_install
	# cleanup dependencies in .la files
	sed -i "/dependency_libs/ s/'.*'/''/" `find debian/tmp/ -name '*.la'`

override_dh_install:
	dh_install
	# remove ido files from other packages
	if [ -d debian/icinga2-common/ ]; then rm debian/icinga2-common/etc/icinga2/features-available/ido-mysql*; fi
	rm debian/icinga2-bin/usr/lib/*/icinga2/libdb_ido_mysql*

override_dh_installinit:
	dh_installinit --name=icinga2

# vi: noexpandtab :
