/**
 * Icinga 2 configuration file
 * - this is where you define settings for the Icinga application including
 * which hosts/services to check.
 *
 * The docs/icinga2-config.adoc file in the source tarball has a detailed
 * description of what configuration options are available.
 */

include <itl/itl.conf>
include <itl/standalone.conf>

/**
 * Global configuration settings
 */
local object IcingaApplication "icinga" {
 macros = {
    plugindir = "/usr/local/icinga/libexec"
  }
}

/**
 * The compat component periodically updates the status.dat and objects.cache
 * files. These are used by the Icinga 1.x CGIs to display the state of
 * hosts and services. CompatLog writeis the Icinga 1.x icinga.log and archives.
 */
library "compat"
local object CompatComponent "compat" { }
local object CompatLog "compat-log" { }

/**
 * And finally we define some host that should be checked.
 */
object Host "localhost" {
  services["ping4"] = { templates = [ "ping4" ] },
  services["ping6"] = { templates = [ "ping6" ] }, 
  services["http"] = { templates = [ "http_ip" ] }, 
  services["ssh"] = { templates = [ "ssh" ] }, 
  services["load"] = { templates = [ "load" ] }, 
  services["processes"] = { templates = [ "processes" ] }, 
  services["users"] = { templates = [ "users" ] }, 
  services["disk"] = { templates = [ "disk" ] }, 
  
  macros = {
    address = "127.0.0.1",
    address6 = "::1",
  },
  
  hostcheck = "ping4",

  check_interval = 1m
}
