name: Docker image

on:
  push:
    branches:
      - master
      - 'support/*'
  release:
    types:
      - published

concurrency:
  group: docker-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docker-release:
    if: github.event_name == 'release'
    concurrency: docker-release
    runs-on: ubuntu-latest

    steps:
      - name: Docker image
        uses: Icinga/docker-icinga2@master
        with:
          dockerhub-token: '${{ secrets.DOCKER_HUB_PERSONAL_TOKEN }}'

  docker:
    if: github.event_name != 'release'
    runs-on: ubuntu-latest

    steps:
      - name: Docker image
        uses: Icinga/docker-icinga2@master
        with:
          dockerhub-token: '${{ secrets.DOCKER_HUB_PERSONAL_TOKEN }}'
