name: Windows

on:
  push:
    branches:
      - master
      - 'support/*'
  pull_request: {}

concurrency:
  group: windows-${{ github.event_name == 'push' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:
  windows:
    name: Windows

    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        bits: [32, 64]

    runs-on: windows-2019

    env:
      BITS: '${{ matrix.bits }}'
      ICINGA_BUILD_TYPE: snapshot
      UPSTREAM_GIT_URL: file://D:/a/icinga2/icinga2/.git

    steps:
      - name: Checkout HEAD
        uses: actions/checkout@v1

      - name: windows-icinga2
        run: |
          git clone https://git.icinga.com/packaging/windows-icinga2.git

      - name: Build tools
        run: |
          & .\doc\win-dev.ps1

      - name: Source
        run: |
          git checkout -B master
          cd windows-icinga2
          & .\source.ps1

      - name: Binary
        working-directory: windows-icinga2
        run: |
          New-Item -ItemType Directory -Path 'C:\Program Files\Icinga2\WillBeRemoved' -ErrorAction SilentlyContinue
          & .\build.ps1
